@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url(images/bg\ top.svg), url(images/bg\ bottom.svg);
    background-position: left-top, right-bottom;
    background-repeat: no-repeat, no-repeat;
}

.container{
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 20px;
    
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.side-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;  
}
#icon2{
    margin-left: 70px;
}
#icon3{
    margin-left: 140px;
}

.icon-container{
    display: flex;
    margin: 5px;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    background-color:hsl(300, 24%, 96%);
    border-radius: 0.5rem;
    padding: 4px;
}

#p1 {
    font-size: 30px;
    font-weight: 800;
    color: black;
    margin: 5px;
    font-family: 'Spartan', sans-serif;
    text-align: left;
    
}
#p2{
    font-size: 15px;
    margin: 1px;
    font-family: 'Spartan', sans-serif;
    text-align: left;
    
}
.social-container{
    border-radius: 0.5rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color:purple;
    padding: 40px;
    height: 100%;
    width: 100%;
}
.two{
    margin-top: 30px;
}
.three{
    margin-top: 60px;
}

.down-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
}
.img{
    border-radius: 50%;
    height: 40px;
}
.h4{
    color: white;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}
.h5{
   padding-left: 20px;
   font-size: 15px;
   font-family: 'Spartan', sans-serif;
}
.h6{
    font-size: 15px;
    color: white;
    font-family: 'Spartan', sans-serif;
}
.image-container{
    display: flex;
    flex-direction: row;
}
.p3{
    font-family: 'Spartan', sans-serif;
}

@media only screen and (max-width: 600px) {
    body{
        background-image: url(images/bg\ top\ mobile.svg), url(images/bg\ bottom\ mobile.svg)
        background-position: left-top, right-bottom;
        background-repeat: no-repeat, no-repeat;
    }

    
    .down-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 5px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-container{
        display: flex;
        flex-direction: column;
       align-items: center;
        margin-left: 0px;
    }

    .icon-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color:hsl(300, 24%, 96%);
        border-radius: 0.5rem;
        padding: 4px;
    }

    #icon2{
        margin-left: 0;
    }
    #icon3{
        margin-left: 0;
    }

   
}

@media only screen and (max-width: 1440px) {    
   
}